# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: required
warnings_are_errors: true
env:
  global:
    - NOT_CRAN=false
before_install:
  - echo "options(repos = c(CRAN='http://cran.rstudio.com'))" > ~/.Rprofile
r_github_packages:
  - jimhester/covr

after_success:
  - Rscript -e 'covr::codecov()'